@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:wght@300;700;800&display=swap');

:root {
    --main: #eb6c27;
    --background: #ffffff;
    --text: #3a3a3a;
    --text2: #888888;
    --text3: #ffffff;
    --overlay: #24242466;
    --overlay2: #242424CC;
    --font: 'Open Sans', sans-serif;
    --font2: 'Inter', sans-serif;
}

    html, body{
        margin: 0;
        background-color: var(--background);
        color: var(--text);
        font-size: 14px;
    }