@media only screen and (max-width: 767px) {
    .service__img {
        height: 10em;
    }
}
@media only screen and (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .text-header {
        font-size: 1.5rem;
    }

    .service__img {
        max-height: 17em;
    }

    .reference__container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1024px) {
    html {
        font-size: 18px;
    }

    .uppercase {
        text-transform: uppercase;
    }

    .page__header {
        height: 100vh;
        top: 0;
        margin-bottom: 2em;
    }
    .page__header.page__header__small {
        height: 10em;
    }
    .header__btn {
        display: inline-block;
    }
    .page__nav {
        top: 2em;
        max-width: 1510px;
        width: calc(100% - 2em);
        align-self: center;
        justify-content: space-between;
        height: 3em;
    }
    .page__nav__container::after {
        display: none;
    }
    .page__nav__container {
        display: flex;
        flex-direction: row;
        position: unset;
        padding: 0;
        background-color: var(--background);
        gap: 1em;
        height: 3em;
    }
    .page__nav__box, .page__menu {
        display: none;
    }
    .page__nav__link {
        text-decoration: none;
        color: var(--text);
    }
    .page__nav__item.active a {
        color: var(--background);
    }
    .page__nav__item.active {
        background-color: var(--main);
    }
    .page__nav__item {
        padding: .5em;
    }

    .title {
        font-size: 2.5rem;
        text-align: center;
    }
    
    .intro-text {
        text-align: center;
        max-width: 960px;
        margin: 0 auto;
    }

    .page__service {
        display: flex;
        gap: 0 4em;
    }
    .page__service:nth-child(even) {
        flex-direction: row-reverse;
    }
    .service__img-container, .page__service-container {
        flex-basis: 50%;
    }

    .page__banner {
        padding: 5em 7.5em;

    }

    .references {
        text-align: center;
    }
    .reference__container {
        grid-template-columns: repeat(3, 1fr);
    }
    .reference__link:hover .text-container {
        display: flex;
        background-color: rgba(235, 108, 39, 0.6);
        color: var(--text3);
        justify-content: center;
        flex-direction: column;
    }
    .reference {
        position: relative;
    }

    .text-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: none;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .form {
        max-width: 666px;
    }

    .content {
        max-width: 1500px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1920px) {
    html {
        font-size: 22px;
    }

    .services, .references {
        max-width: 1620px;
        margin: 5em auto;
    }
}