@media only screen and (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .page__service__img {
        max-height: 12.5em;
    }

    .reference__container{
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__header {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 1024px) {
    html {
        font-size: 20px;
    }

    .page__header {
        height: 100vh;
        top: 0;
        margin-bottom: 2em;
    }

    .page__nav {
        top: 2em;
        max-width: 1510px;
        width: calc(100% - 2em);
        align-self: center;
        justify-content: space-between;
    }

    .page__nav__container::after {
        display: none;
    }

    .page__nav__container {
        display: flex;
        flex-direction: row;
        position: unset;
        padding: 0;
        background-color: white;
        gap: 1em;
    }
    .page__nav__box, .page__menu {
        display: none;
    }
    .page__nav__link {
        text-decoration: none;
        color: var(--text);
    }
    .page__nav__item.active a {
        color: white;
    }
    .page__nav__item.active {
        background-color: var(--main);
    }
    .page__nav__item {
        padding: .5em;
    }

    .page__service{
        display: flex;
        gap: 0 1em;
    }

    .page__service:nth-child(even) {
        flex-direction: row-reverse;
    }

    .page__service__img-container, .page__service-container {
        flex-basis: 50%;
    }

    .reference__container{
        grid-template-columns: repeat(3, 1fr);
    }

    .reference__link:hover .reference__text-container {
        display: flex;
        background-color: rgba(235, 108, 39, 0.6);
        color: var(--text3);
        justify-content: center;
        flex-direction: column;
    }

    .reference__text-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: none;
    }

    .reference {
        position: relative;
    }

    .reference__header, .page__service__header {
        text-transform: uppercase;
    }

    .page__main__intro, .reference__intro {
        text-align: center;
    }

    .footer__text {
        font-size: 1.1rem;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
    .page__header__small {
        height: 10em;
    }

    .header__btn {
        display: inline-block;
    }

    .header-switch {
        display: none;
    }

    .page__services, .page__main__intro, .references, .page__content {
        padding: 2em 2em;
    }

    .page__main__intro, .page__main__title {
        text-align: center;
    }

    .contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .form {
        max-width: 666px;
    }

}

@media only screen and (min-width: 1920px) {
    html {
        font-size: 22px;
    }
}