.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.services, .references, .content, .intro-text {
    padding: 1em;
}

.services {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5em;
    justify-items: center;
}

.reference__container {
    margin: 5em 0 2em 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5em;
    justify-items: center;
}

.text-container {
    text-align: center;
}

.page__main {
    flex-grow: 1;
}
.page__main__container {
    margin: 1em 0;
    display: flex;
    align-items: center;
}

.page__banner {
    padding: 1em;
    position: relative;
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.5), rgba(36, 36, 36, 0.8)), linear-gradient(180deg, rgba(66, 51, 42, 0.4) 0%, rgba(255, 255, 255, 0) 100%), url(../../media/background-CTAblock-4460w.webp);
    background-position: center;
    background-size: cover;
    color: var(--text3);
    font-weight: 700;
}


.page__icon__container {
    width: 2em;
    height: 2em;
    margin-right: 1em;
    background-color: var(--main);
    border-radius: 2em;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page__map-overlay {
    position: relative;
}
.page__map-overlay::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.page__map-overlay:hover::before {
    background-color: var(--main);
    opacity: 0.5;
}

.form__item {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}
.form__item__input {
    border: 1px solid var(--main);
    padding: 0.5em;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 350px;
    gap: 1em;
    grid-auto-flow: dense;
}
.row--2 {
    grid-row: span 2 / span 2;
}
.row--3 {
    grid-row: span 3 / span 3;
}