.page {
    margin-top: 80px;
}

.page__nav {
    z-index: 999;
    position: absolute;
    display: flex;
    width: 100%;
    top: 0;
    background-color: var(--background);
    height: 80px;
    align-items: center;
}

.page__nav_imgcont {
    height: 50%;
}

nav input[type="checkbox"]:checked ~ .page__nav_container{
    display: block;
}

.page__nav_box {
    position: absolute;
    right: 20px;
    width: 50px;
    height: 40px;
    z-index: 999;
    opacity: 0;
}

.page__nav_img {
    height: 100%;
}

.page__nav_text {
    color: var(--text);
    font-size: 12px;
    margin: 0;
    position: absolute;
    bottom: 22px;
    left: 4px;
}

.page__menu, .page__menu::before, .page__menu::after {
    position: absolute;
    right: 20px;
    width: 48px;
    height: 8px;
    background: linear-gradient(90deg, var(--main) 50%, var(--background) 100%);
}

.page__menu::before, .page__menu::after {
    right: 0;
}

.page__menu::before {
    content: "";
    margin-top: -12px;
}

.page__menu::after {
    content: "";
    margin-top: 12px;
}

.page__menu_text {
    position:absolute;
    font-size: .7em;
    bottom: 20px;
    margin: 0;
    left: 50%;
    transform: translate(-50%);
}

.page__nav_container {
    top: 85px;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    left: 1em;
    right: 1.3em;
    background-color: var(--main);
    display: none;
}

.page__nav_container::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 25px 15px;
    border-color: transparent transparent var(--main) transparent;
    margin-top: -25px;
    position: absolute;
    right: 0.5em;
    top: 0;
}

.page__nav_link {
    padding: .5em 0;
    display: block;
    color: var(--text3);
    list-style: none;
    width: 100%;
}

.page__nav_item {
    width: 80%;
    text-align: left;
    padding-left: 2em;
    color: var(--text3);
}

.page__nav_item.active {
    font-weight: 700;
}

.page__nav_item:first-child {
    padding-top: 1em;
}

.page__nav_item:last-child {
    padding-bottom: 1em;
}

.page__header{
    width: 100%;
    height: 15em;
    background-size: 200%;
    background-position: 40%;
    background-image: url(../media/pageheader-1920w.jpg);
    display: flex;
    justify-content: end;
    flex-direction: column;
    text-align: center;
    color: var(--text3);
}

.page__header_overlay{
    width: 100%;
    height: 15em;
    position: absolute;
    background-color: var(--overlay);
}

.page__header_text{
    margin: 0;
    font-weight: 800;
}

.page__header_text_span {
    font-size: 20px;
    font-weight: 400;
    padding: 1em;
    display: block;
}

.page__header_text, .page__header_text_span {
    z-index: 2;
    color: var(--text3);
}



.page__services, .page__references, .page__content {
    padding: 1em;
}

.page__service{
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 1em;
}

.page__service:nth-of-type(even) .page__service_img{
    border-radius: 0px 0px 0px 40px;
}

.page__service_img{
    width: 100%;
    height: 10em;
    object-fit:cover;
    border-radius: 0px 0px 40px 0px;

}

.page__service_header{
    font-size: 20px;
    font-weight: 700;
}

.page__service_text{
    font-size: 14px;
}

.page__reference {
    padding: 1em;
}

.page__reference_container{
    margin: 5em 0 2em 0;
}

.page__reference_img{
    width: 100%;
    height: 12.5em;
    object-fit: cover;
}

.page__reference_header{
    font-size: 22px;
    margin-top: .5em;
    margin-bottom: .5em;
}

.page__reference_text{
    font-size: 12px;
    margin: 0;
}

.page__reference_header, .page__reference_text{
    text-align: center;
}

.page__main {
    padding: 2.5em 0;
}

.page__main_intro {
    padding: 1em;
}

.page__main_title {
    font-size: 30px;
    font-weight: 700;
}

.page__main_header {
    font-size: 22px;
    font-weight: 700;
}

.page__main_text {
    font-size: 14px;
    font-weight: 400;
}

.page__main_list {
    font-size: 14px;
    margin: 0.5em -1.5em;
}

.page__main_listpoint {
    padding: -1em;
    list-style: disc;
    margin: 0.5em;
}

.page__main_listpoint::marker {
    color: var(--main);
    line-height: 1rem;
    font-size: 1.5em;
}

.page__banner{
    padding: 1em;
    height: 10em;
    position: relative;
    background-position: center;
    background-size: 210%;
    background-image:url(../media/background-CTAblock-4460w.jpg);
}

.page__banner_overlay{
    width: 100%;
    height: 12em;
    left: 0;
    top: 0;
    position: absolute;
    background-color: var(--overlay2);
}

.page__banner_text{
    position: relative;
    color: var(--text3);
    font-size: 17px;
    font-weight: 700;
}

.page__footer{
    height: 17em;
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
    bottom: 0;
}

.page__footer_header , .page__footer_text{
    text-align: center;
    color: var(--text3);
}

.img {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.page__main_container {
    display: flex;
    margin: 1em 0;
    align-items: center;
}

.page__icon_container {
    width: 2em;
    height: 2em;
    margin-right: 1em;
    background-color: var(--main);
    border-radius: 2em;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
}

.form__item {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__item_input {
    border: 1px solid var(--main);
    padding: 0.5em;
}

.gallery {

}

.page__btn{
    text-decoration: none;
    font-weight: 700;
    color: var(--main);
    padding: .8em 2em .8em 2em ;
    display: block;
    width: fit-content;
    z-index: 999;
    position: relative;    
    border: 1px dashed var(--main);
}

.page__btn--filled{
    color: var(--text3);
    background-color: var(--main);
    border: none;   
}

.page__btn--white{
    color: var(--main);
    background-color: var(--text3);
    border: none;
}

.page__btn--center{
    margin: 0 auto;
}

.btn {
    font-size: 14px;
    padding: 16px 40px;
    margin: 1em 0;
}
  
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    grid-auto-flow: dense;
}