.font1 {
    font-family: var(--font);
}

.font2 {
    font-family: var(--font2);
}

.color {
    color: var(--main);
}

.page {
    margin-top: 80px;
}

.page__nav {
    z-index: 999;
    position: absolute;
    display: flex;
    width: 100%;
    top: 0;
    background-color: var(--background);
    height: 80px;
    align-items: center;
}

.page__nav_imgcont {
    height: 50%;
}

nav input[type="checkbox"]:checked ~ .page__nav_container{
    display: block;
}

.page__nav_box {
    position: absolute;
    right: 20px;
    width: 50px;
    height: 40px;
    z-index: 999;
    opacity: 0;
}

.page__nav_img {
    height: 100%;
}

.page__menu, .page__menu::before, .page__menu::after {
    position: absolute;
    right: 20px;
    width: 48px;
    height: 8px;
    background: linear-gradient(90deg, var(--main) 50%, var(--background) 100%);
}

.page__menu::before, .page__menu::after {
    right: 0;
}

.page__menu::before {
    content: "";
    margin-top: -12px;
}

.page__menu::after {
    content: "";
    margin-top: 12px;
}

.page__menu_text {
    position:absolute;
    font-size: .7em;
    bottom: 20px;
    margin: 0;
    left: 50%;
    transform: translate(-50%);
}

.page__nav_container {
    top: 85px;
    padding: 0;
    margin: 0;
    left: 50%;
    transform: translate(-50%);
    list-style: none;
    position: absolute;
    width: 88.89%;
    background-color: var(--main);
    display: none;
}

.page__nav_container::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 25px 15px;
    border-color: transparent transparent var(--main) transparent;
    margin-top: -25px;
    position: absolute;
    left: 87%;
    top: 0;
}

.page__nav_item {
    width: 80%;
    text-align: left;
    padding-left: 2em;
    color: var(--text3);
}

.page__nav_item.active {
    font-weight: 900;
    text-decoration: underline;
}

.page__nav_item:first-child {
    padding-top: 1em;
}

.page__nav_item:last-child {
    padding-bottom: 1em;
}

.page__nav_link {
    padding: .5em 0 .5em 0;
    display: block;
    text-decoration: none;
    color: var(--text3);
    font-weight: 550;
    list-style: none;
    width: 100%;
}

.page__hero{
    width: 100%;
    height: 15em;
    background-size: 200%;
    background-position: 40%;
    background-image: url(../media/pageheader-1920w.jpg);
    display: flex;
    justify-content: end;
    flex-direction: column;
    text-align: center;
    color: var(--text3);
}

.page__hero_overlay{
    width: 100%;
    height: 15em;
    position: absolute;
    background-color: var(--overlay);
}

.page__hero_header{
    margin: 0;
    font-weight: 800;
}

.page__hero_text {
    font-size: 20px;
}

.page__hero_header, .page__hero_text{
    z-index: 2;
    color: var(--header);
}

.page__cards{
    margin:0 1em 0 1em;
}

.page__main_header {
    font-size: 22px;
}

.page__main_text {
    font-size: 14px;
    font-weight: 400;
}

.page__card:nth-of-type(even) .page__card_img{
    border-radius: 0px 0px 0px 40px;
}

.page__card_img{
    width: 100%;
    height: 10em;
    object-fit:cover;
    border-radius: 0px 0px 40px 0px;

}

.page__card_header{
    font-size: 20px;
    font-weight: 700;
}

.page__card_text{
    font-size: 14px;
}

.page__btn{
    text-decoration: none;
    font-weight: 700;
    color: var(--main);
    padding: .8em 2em .8em 2em ;
    display: block;
    width: fit-content;
    z-index: 999;
    position: relative;    
    border: 1px dashed var(--main);
}

.page__btn--filled{
    color: var(--text3);
    background-color: var(--main);
    border: none;   
}

.page__btn--white{
    color: var(--main);
    background-color: var(--text3);
    border: none;
}

.page__btn--center{
    margin: 0 auto;
}

.page__banner{
    padding: 1em;
    width: calc(100% - 2em);
    height: 12em;
    position: relative;
    background-position: center;
    background-size: 210%;
    background-image:url(../media/background-CTAblock-4460w.jpg);
}

.page__banner_overlay{
    width: 100%;
    height: calc(12em + 2em);
    left: 0;
    top: 0;
    position: absolute;
    background-color: var(--overlay2);
}

.page__banner_text{
    position: relative;
    color: var(--text3);
    font-size: 17px;
    font-weight: 700;
}

.page__card, .page__banner, .page__reference, .page__footer{
    margin-top: 2em;
}

.page__reference_container{
    margin: 5em 0 2em 0;
}

.page__reference_img{
    width: 100%;
    height: 12.5em;
    object-fit:cover;
}

.page__reference_header{
    font-size: 22px;
    margin-top: .5em;
    margin-bottom: .5em;
}

.page__reference_text{
    font-size: 12px;
    margin: 0;
}

.page__reference_header,.page__reference_text{
    text-align: center;
}

.page__footer{
    height: 17em;
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page__footer_header , .page__footer_text{
    text-align: center;
}